@keyframes overlayIn {
    0% {
        opacity: 0;
        transform: translateY(-100vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes overlayOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh);
    }
}

@keyframes modalIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes modalOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}