// FONTS

$rubik: 'Rubik', sans-serif;
$saira: 'Saira Extra Condensed', sans-serif;
$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

// COLORS

$btn-color: #A6CC45;
$modal-color: #7C9CAC;
$overlay-color: #BADA6A;
$main-white: #fff;
$main-black: #111;
$placeholder-color: #C4C4C4;

// GRADIENTS

$gradient-one: linear-gradient(180deg, 
rgba(246, 249, 252, 0) 0%, 
#F6F9FC 100%), 
linear-gradient(116.81deg, 
#C2E7F5 1.06%, 
#D7D9F0 48.72%, 
#EDDEEB 99.09%);

$gradient-three: linear-gradient(180deg, 
rgba(255, 255, 255, 0.81) 0%, 
rgba(255, 255, 255, 0) 100%), 
linear-gradient(0deg, 
rgba(255, 255, 255, 0.21), 
rgba(255, 255, 255, 0.21));

$gradient-four: linear-gradient(0deg, 
rgba(255, 255, 255, 0.65), 
rgba(255, 255, 255, 0.65))